.hero {
    background: linear-gradient(135deg, rgba(6, 78, 59, 0.95), rgba(15, 23, 42, 0.9)), 
                url('https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?q=80&w=1200') center/cover;
    color: #ffffff;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 10%;
    text-align: center;
}

.hero h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    background: linear-gradient(to right, #ffffff, #10b981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-main {
    background-color: #10b981;
    color: #ffffff;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 50px; /* Buton tip pastilă */
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 10px 20px -5px rgba(16, 185, 129, 0.4);
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: #ffffff;
    color: #064e3b;
    transform: translateY(-3px) scale(1.05);
}